* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Reem Kufi Ink', sans-serif;
}

.content {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.front-text {
    font-size: calc(15px + 1vw);
    /* position: absolute; */
    color: white;
    text-align: center;
}

.nav-links {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    margin: 0 28px;
}

.nav-links ul li a{
    text-decoration: none;
    color: white;
    font-size: 17px;
    position: relative;
}

.nav-links ul li a::after{
    content: "";
    width: 0;
    height: 2px;
    background: #a8ffbc;
    display: block;
    margin: auto;
    transition: 0.5s ease;
}

.nav-links ul li a:hover::after{
    width: 100%;
}



.fa-solid.fa-bars {
    display: none;
}

.header {
    width: 80%;
    max-width: 700px;

}

.big-logo{
    /* position: absolute; */
    text-align: center;
    width: 100%;
}

img {
    max-width: 100%;
}

@media(max-width: 700px){
    /* .big-logo{
        transform: scale(0.45);
    } */
    /* .front-text{
        font-size: 20px;
        margin-top: 185px;
    } */

    .nav-links ul li{
        display: block;
        width: 100%;
    }

    .nav-links{
        position: fixed;
        background: #70c985;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 99999;
        transition: 1s;
    }

    .fa-solid.fa-bars{
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
        position: fixed;
        right: 0;
        top: 0;
    }

    nav .fa-solid.fa-xmark{
        color: white;
        position: absolute;
        right: 0;
        top: 0;
        margin: 10px;
        font-size: 30px;
    }

    .nav-links ul{
        padding: 50px;
    }
}

.bg-video {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-video video {
    z-index: -1;
    position: absolute;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}



/* @media (min-aspect-ratio: 16/9){
    .bg-video{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .bg-video{
        width: auto;
        height: 100%;
    }
} */


/* ------- portfolio -------- */

.portfolio{
    background-color: #bbffbb;
    width: 100vw;
    margin: auto;
    text-align: center;
    justify-content: center;
    padding-top: 40px;
}

h1{
    font-size: 36px;
    font-weight: 600;
}

.row{
    width: 100vw;
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.project{
    /* max-width: 400px; */
    background: #f0f0f0;
    border-radius: 10px;
    margin: 0 1vw;
    flex-basis: 300px;
    flex-grow: 1;
    flex-shrink: 0;
    margin-bottom: 5%;
    padding: 10px 10px;
    box-sizing: border-box;
    transition: 0.5s;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.project-video{
    width: 100%;
    aspect-ratio: 16/9;
}

.project:hover{
    box-shadow: 0 0 30px rgba(0,0,0,0.3);
}



h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

/* @media(max-width: 700px){
    .row{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .project{
        width: 80vw;
    }
    .project-video{
        width: 100%;
        height: 45vw;
    }
    
} */

.spacer{
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer0{
    position: absolute;
    bottom: 0;
    aspect-ratio: 960/101;
    background-image: url("images/layered-waves-top.svg");
}

.layer0-5{
    aspect-ratio: 960/30;
    background-image: url("images/layered-waves-top-2.svg");
}

.layer1{
    aspect-ratio: 960/540;
    background-image: url("images/layered-waves-lg-dg.svg");
}

.layer2{
    aspect-ratio: 960/200;
    background-image: url("images/layered-waves-dg-drg.svg");
}

.about{
    background-color: #44be5a;
    width: 100vw;
    text-align: center;
    justify-content: center;
    margin-top: -25%;
    padding-top: 0;
    padding-bottom: 10%;
    padding-inline: 20px;
}

.about p {
    font-size: 20px;
}

.contact {
    background-color: #128d29;
    width: 100vw;
    text-align: center;
    justify-content: center;
    margin-top: 0;
}

.contact p {
    font-size: 20px;
}










.container {
    margin: auto;
    margin-top: 20px;
    min-height: 300px;
    max-height: 400px;
    width: 90vw;
    max-width: 1200px;
    background: rgba(255,255,255,0.9);
    padding: 50px;
    text-align: center;
    border-radius: 10px;

}

.container:hover {
    box-shadow: 0 0 30px rgba(0,0,0,0.3);
    
}

.container .count {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -30px;
    margin-bottom: 30px;
    max-width: 500px;
    margin-inline: auto;
}

.container .count div {
    height: 50px;
    width: 50px;
    background: #f0f2f7;
    border: 2px solid rgb(243, 165, 193);
    border-radius: 50%;
    padding: 15px;
    position: relative;
    cursor: pointer;
    transition: 0.5s ease;
}


.count div:hover {
    background: rgb(243, 165, 193);
}

.count div.active {
    background: rgb(243, 165, 193);
}

.count div::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 50px;
    height: 2px;
    width: 13vw;
    max-width: 100px;
    background: #ccc;
}

.count div:last-child::before {
    display: none;
}

.contentt h2 {
    margin: 10px 0px;
}

.contentt p {
    margin: 10px 0px;
    text-align: center;
    font-size: 18px;
}

.contentt button {
    padding: 15px 80px;
    margin-top: 20px;
    background: rgb(243, 165, 193);
    color: #fff;
    border: 0;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
}

.contentt button a{
    text-decoration: none;
    color: #fff;
}

.contentt.second,
.contentt.third,
.contentt.fourth {
    display: none;
}

.contact a{
    color: rgb(185, 185, 185);
    text-decoration: none;
}

.icons .fa-brands{
    color: white;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}






